In [1]:
# List (can have combinations of integer, float, booleans,strings etc...):
list1 = ["apple", 1, 2.25, True]
print(list1)

['apple', 1, 2.25, True]

In [2]:
#duplicates are allowed in list.
list_of_fruits = ["apple", "cherry", "orange", "mango", "cherry"]
print(list_of_fruits)

['apple', 'cherry', 'orange', 'mango', 'cherry']

In [3]:
#addition of other elements in the list(append & insert):
list1 = ["apple", 1, 2.25, True]
list1.append("banana")
list1.insert(1,"pineapple")
print(list1)

['apple', 'pineapple', 1, 2.25, True, 'banana']

In [4]:
#printing a particular element of a list using indexing:
list1 = ["apple", 1, 2.25, True]
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-2])

apple
1
True
2.25

In [5]:
#replacing an element with another:
list1 = ["apple", 1, 2.25, True]
list1[1] = "pineapple"
print(list1)

['apple', 'pineapple', 2.25, True]

In [6]:
#printing length of a list:
list1 = ["apple", 1, 2.25, True]
print(len(list1))

4

In [7]:
#addition of 2 lists(+, .extend):
# Method 1:
list_of_students = ["Raghav", "Raghu"]
list_of_marks = [25, 23]
midsem_marks = list_of_students + list_of_marks
print(midsem_marks)

# Method 2:
list_of_students.extend(list_of_marks)
print(list_of_students)

['Raghav', 'Raghu', 25, 23]
['Raghav', 'Raghu', 25, 23]

In [8]:
#printing select few from the list:
list1 = ["apple", 1, 2.25, True]
print(list1[1:3])
print(list1[1:])
print(list1[:4])#because of negative indexing

[1, 2.25]
[1, 2.25, True]
['apple', 1, 2.25, True]

In [9]:
#Problem:
#create list of 5 students,
#display the first and last student,
#add a new student,
#remove any one student,
#sort the list alphabetically

#solution:
list_of_students = ["Dhruv", "Soham", "Rishabh", "Raghav", "Raghu"]
print(list_of_students[0])
print(list_of_students[-1])

list_of_students.append("Yash")
print(list_of_students)

list_of_students.remove("Raghav")
print(list_of_students)

list_of_students.sort()
print(list_of_students)

Dhruv
Raghu
['Dhruv', 'Soham', 'Rishabh', 'Raghav', 'Raghu', 'Yash']
['Dhruv', 'Soham', 'Rishabh', 'Raghu', 'Yash']
['Dhruv', 'Raghu', 'Rishabh', 'Soham', 'Yash']

In [10]:
#Problem:
#Create a list of student marks
#display highest and lowest marks
#calculate average marks
#sort the marks in ascending order

#Solution:
list_of_marks = [2, 20, 4, 9, 6]
print(min(list_of_marks))
print(max(list_of_marks))

print(sum(list_of_marks)/len(list_of_marks))

list_of_marks.sort()
print(list_of_marks)

2
20
8.2
[2, 4, 6, 9, 20]